ut_*
!ut_*.*
*.out
*.o
*.d
testconfigparser
ex1server
# files called fs123p7
fs123p7
# But not the top-level directory called fs123p7
!/fs123p7
libfs123.a
obj/
obj-*/
dist/
build/
s/
c/
utworkspace/
salmonj/
*~
*.grf2.xz
*.pyc
.nfs*
*.tar.gz
*.secret
Portfile
ut_content_codec.secret
*.deps
# test output directories
fs123test.*/