---
version: ~> 1.0
language: shell
os: linux
dist: xenial

services:
    - docker

env:
    global:
        - secure: "JI3R4Jx9E514rPHedZ4WZ84v0ti0bzcDwOr/hsJh9xF6La/YAd6Ozb70RV3WyvsibvYg0Fbe9c8VcQSEE9ZuAj5a2IXokaLHAagvZXto+m66I94wXi4texfG9xZnY7BHmps0zYfkvXnt2xuvOmV0X7vAclEw5GIurbWF78rSpKvzhEM/hfGz0ZBIZLTU+UO+JjTS66JMRwJZGb9hYUKwkurpJR5w/TK2akNotyXbfdE3f7GvEb4g956S+hdKF2ImFfOJoTQxapKP1GqOqQqXxQ35H/RPJhZ4caJ/fQH0U0oSWrf1kGdxr0p20A6CWHkqWFOHELs/SWLBHaYbhNv7Q1mLm9Z2OykhPX6k+QiRUi3sbiJSaojygZpJhvj7qIB822KZSoB2twWw43rRRCk45YMcNe0pr3ndT67HjjVO1nYis4eX5ksIbjKhg/lbcUsjzc5nuKqB4m3XfKw+Tmp2vVPKZNL1epouqtISoH+/h0/Cu05R+eNdfQRee+xP5+m9kuiyoZjkRMX0+bqazKmnsz3uxmL3Vhxyh6kiTb3tealAofOLQZIEXkPeoJYd3SAF8Tbwl+jmyoQWVTvgJUKyI5tu9/IlJdlut/evZt2caj6Kusjvt+F7PGQtaxhc1EGVqALYH65fLHRzFTeeMoZZUU1Ub0RKGC4KJAEQgaTve4w="
        - secure: "BFHnNxmA04bv3tr/Hje/0mVuYeLexNsBzHOC4vhwSsSnPyjB1ZzJ4qH1gY2cinIenkm6XcaPcu53qpY6TGFchAaSxLHOnk2Glpu0R9dJKjn3jlFjS7bMLh+9ocei/W8eVsd/LFmNus3vC5WU5/iYSEL53ghuaj/AyEOFyb0lfEY4odyce4llOdCeaOf4+nnXjOwfl1lcBy0PN6Qn0eOZBGqAIcliibuHygNIMAPqBQHlsD6TYxMZPIvC8pmMX6RDoZ+IkP4zDTnguPRcBQMJqGwH6bPgq5Nf8jbvQmHfOVFumvi0qfvYPDfTutUAy7qLfmPyMWI9IX+7VnmQMDxA8w0rqA78lczxipc6uqJ2MN8XSEE86fsWPVOsscbhY4i3yYUx7sEBsX0FItKRT6IcdE9zgvFBMrwf7AEfaqi17lojtPgrFNiNFuNL/cy24LmFJnHkc1CklezLt+McfQZYKcITihdsNzdpifwjXuWSNlIaf89zuLKVcTQDKuc5rZx/1DKRgSq3xg5VMAEvlZMZjUlHl/9WFhYEqGU9tgtdPB/RNO6xCiFj4VVFf7YeXX0Ebc5dVK5J2y2dHdq2OSdUUz+Sp/QOE3k9+byfAEvqPHHT7tIFt82Uvg3f+qcu1gdDOj9oR/anIbhOccc1DfGEbSMcGxSkVixRPI05ryJSPX0="
    jobs:
        # alpine 3.12 (or later) is built static, while 3.11 is dynamic
        - DOCKER_IMAGE=alpine:3.11
        - DOCKER_IMAGE=alpine:3.12
        - DOCKER_IMAGE=centos:7
        - DOCKER_IMAGE=fedora:32
        - DOCKER_IMAGE=ubuntu:focal
        - DOCKER_IMAGE=ubuntu:bionic
        - DOCKER_IMAGE=ubuntu:xenial
        - DOCKER_IMAGE=debian:stretch
        - DOCKER_IMAGE=debian:buster

# add fuse to the build host VM
# https://github.com/travis-ci/travis-ci/issues/1100
before_install:
    - sudo apt-get install -qq pkg-config fuse
    - sudo modprobe fuse
    - sudo chmod 666 /dev/fuse
    - sudo chown root:$USER /etc/fuse.conf

install:
    - echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin || true
    - docker pull $DOCKER_IMAGE

script:
    - >
        ./misc/dockrun ${DOCKER_IMAGE}
        /bin/sh -e -c "cd /fs123 && . ./misc/prereqs.${DOCKER_IMAGE} && mkdir build && cd build && make -f ../GNUmakefile -j4 check && make -f ../GNUmakefile -j4 core123-check && make -f ../GNUmakefile install"

# There must be a better way ...
after_failure:
    - cat build/s/fs123.diag
    - cat build/s/errorlog.1 s/errorlog
    - cat build/s/exportd.*
    - cat build/c/fs123.diag
    - cat build/c/fs123.err
    - cat build/c/fs123.exstatus

before_deploy:
    - >
        [[ $DOCKER_IMAGE = "alpine:3.12" ]] &&
        ./misc/dockrun ${DOCKER_IMAGE} /fs123/misc/packaging/build-static

deploy:
    provider: releases
    token:
        secure: "0JxXdKGEhPQrM4gNxQqQg5PZ1dfkR5j4iWAGVPKanYsaShmFw0Ea/4FseKlJfG+CPPozcjdxLnzwASL2DmHNm/S1e0icidfcbDXnrUnjmDk0bhXpDpWeS9E/ts+ssfGWK25JBSi7TNjncqQgC9xQu2z3t0ZD2DdMW7ujE7MwMN534fF2jwSSesihWKml9lIXh7DZdg40YXjID1eL+jC5SvkPf/TB+T61glpDigLcrIGQ3xfACaUM2PcbYEw/vqBgmd3D8Y1oHCZTA2EhWEB21/Ap0yZQyherp8Gm6pNGys0UM6SYv4o33Wj36jsSSAHJ+qXAoregUgH3LuBXaLFVbjwT2y4s3WjjpSErfHAa3J5zH+xaJP2JQ91tDHdBa7/QrJXZxM3E6WCS+4SAupIcmBHkbC8T78/kdM3kAPAwwUWZagwYRbeqn97Ykq13HM7mz+eudbUzWtaiLcYqeNJ/gZs61KHL1Ryl4s7bbRKyB8WZknOeoS/uL9SyDMoDAK6hGbw4qo2VazqwxkyIx4Nu3ahFkegQl6jokzrCTM9OJ4IsMclkxsRLojoQjIDcBoAlGz7prImaPBaXsu19vbmwcLz7TgWDLZbrT2mslisIzGYUgEQSDoekyBkwVMjZGmpP1ep3LXbnB8S+QZ86/7+BxaYFlB8pcoXK+1uBrfqRhaY="
    file:
        - /tmp/fs123p7
        - /tmp/fs123p7-debug
    cleanup: false
    on:
        tags: true
        condition: $DOCKER_IMAGE = "alpine:3.12"
    edge: true


# vim: ts=4:sw=4:et:ai
